<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Alias Management</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()">
function deleteLink(nm) {
	frm = document.forms[0];
	frm.delalias.value = nm;
	frm.submit();
}
</%def>
<%def name="extraHead()" />
<%def name="alias_only(val)">
	<%
		return val.split("-")[1].split(":")[0]
	%>
</%def>
<%def name="body()">
	<form name="delAliasForm" id="delAliasForm" action="" method="POST">
		<input type="hidden" value="" id="delalias" name="delalias"/>
	</form>
	<form name="addAliasForm" id="addAliasForm" action="" method="POST">
		New Alias: <input type="text" id="newalias" name="newalias">&nbsp;<input type="submit" value="Add">
	</form>
	<table border="0" cellspacing="0" cellpadding="2">
		% for nm in c.mailnames:
		<tr class="aliasRow">
			<%
				justname = alias_only(nm)
			%>
			<td>${justname}</td>
			<td><a onClick="deleteLink('${justname}');return false;" href="http://cnn.com">Delete</a></td>
		</tr>
		% endfor
	</table>

</%def>
