<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Search the Archives</%def>
<%def name="extraHead()">
	<link rel="stylesheet" type="text/css" href="/dhtmlxCalendar/codebase/dhtmlxcalendar.css">
	<script src="/dhtmlxCalendar/codebase/dhtmlxcommon.js"></script>
	<script src="/dhtmlxCalendar/codebase/dhtmlxcalendar.js"></script>
	<script>window.dhx_globalImgPath="/dhtmlxCalendar/codebase/codebase/imgs/";</script> 
</%def>

<%def name="body()">
  <div>
	<!--
	  listname here/listFromRequest; 
	  hasListName python:listname; 
	  searchOK python:here.archiveActive() or request. HTTP_X_FORWARDED_FOR=='192.168.0.44'
	-->
	 
% if not c.searchOK:
	<div>
	  <h2 style="color: orangered">The archives are being updated, and will be unavailable for the next few hours</h2>
	</div>
% endif

<%
	import datetime
	thisYear = datetime.date.today().year
%>

% if c.searchOK:
	<div>
		
		% if not c.listname:
		<div tal:condition="not:hasListName" style="text-align:center;">
			<h3>Please select the archive to search</h3>
			<p><a href="/archives/search/profox" id="lnkProFox" name="lnkProFox">ProFox</a></p>
			<p><a href="/archives/search/prolinux" id="lnkProLinux" name="lnkProLinux">ProLinux</a></p>
			<p><a href="/archives/search/propython" id="lnkProPython" name="lnkProPython">ProPython</a></p>
			<p><a href="/archives/search/codebook" id="lnkCodebook" name="lnkCodebook">Codebook</a></p>
			<p><a href="/archives/search/dabo-users" id="lnkDaboUsers" name="lnkDaboUsers">Dabo-users</a></p>
			<p><a href="/archives/search/dabo-dev" id="lnkDaboDev" name="lnkDaboDev">Dabo-dev</a></p>
			<p><a href="/archives/search/valentina" id="lnkValentina" name="lnkValentina">Valentina</a></p>
		</div>
		% endif
	
		% if c.listname:
	<div>
	<form method="POST" action="/archives/results/${c.listname}" name="searchForm">
	<input name="listname" type="hidden" value=${c.listname}>
	
	<h3 style="color:darkgreen; font-family: Verdana,Tahoma,Chicago,Arial,sans-serif; font-size:120%;">
	Search the ${c.properListName} List archives</h3>
	<table cellpadding="20" class="boxtable" width="60%">
	<tr>
	<td>
		<!--This inner table contains all the search fields-->
		<table border="0" cellspacing="0" cellpadding="1" width="95%">
			<tr>
				<td class="label"><label for="wordsRequired">Words that must appear in post:</label></td>
				<td class="field"><input type="text" id="wordsRequired" name="wordsRequired"  size="40" maxlength="80" class="field" size="40"></td>
			</tr>
			<tr>
				<td class="label"><label for="wordsForbidden">Words that must NOT appear in post:</label></td>
				<td class="field"><input type="text" id="wordsForbidden" name="wordsForbidden"	size="40" maxlength="80" class="field"></td>
			</tr>
			<tr>
				<td class="label"><label for="phraseRequired">Search post for this specific phrase:</label></td>
				<td class="field"><input type="text" id="phraseRequired" name="phraseRequired"	size="40" maxlength="80" class="field"></td>
			</tr>
			<tr>
				<td class="label"><label for="subjectPhraseRequired">Search subject for this specific phrase:</label></td>
				<td class="field"><input type="text" id="subjectPhraseRequired" name="subjectPhraseRequired"  size="40" maxlength="80" class="field"></td>
			</tr>
			<tr>
				<td class="label"><label for="authorRequired">Filter on authors containing:</label></td>
				<td class="field"><input type="text" id="authorRequired" name="authorRequired"	size="40" maxlength="80" class="field"></td>
			</tr>
			% if c.listname == "profox":
			<tr>
				<td class="label"><label for="chkOT"><i>Check this to include Off-Topic posts:</i></label></td>
				<td class="field"><input type="checkbox" id="chkOT" name="chkOT"></td>
			</tr>
			<tr>
				<td class="label"><label for="chkNF"><i>Check this to include NonFox posts:</i></label></td>
				<td class="field"><input type="checkbox" id="chkNF" name="chkNF"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			% endif
			
			<tr>
				<!--This 'row' contains cells for the DateRange and Order By tables-->
				<td colspan="2" align="center">
					<!--Begin the single-row table that will hold the DateRange and Order By tables-->
					<table border="0" frame="box" width="95%">
					<tr valign="top">
						<td class="bordercell">
							<!--Begin the Date Range table-->
							<table width="95%">
								<tr>
									<td class="dtRadio"><h4>Date Range</h4>
									<label for="dateRangeToday"><input type="radio" id="dateRangeToday" name="dateRange"
											value="dtToday" OnClick="onSelectDateRange(this);">Today Only</label><br>
									<label for="dateRangeYesterday"><input type="radio" id="dateRangeYesterday" name="dateRange"
											value="dtYesterday" OnClick="onSelectDateRange(this);">Yesterday Only</label><br>
									<label for="dateRangeWeek"><input type="radio" id="dateRangeWeek" name="dateRange"
											value="dtLastWeek" OnClick="onSelectDateRange(this);">In the Last Week</label><br>
									<label for="dateRangeMonth"><input type="radio" id="dateRangeMonth" name="dateRange"
											value="dtLastMonth" OnClick="onSelectDateRange(this);" checked>In the Last Month</label><br>
									<label for="dateRangeYear"><input type="radio" id="dateRangeYear" name="dateRange"
											value="dtLastYear" OnClick="onSelectDateRange(this);">In the Last Year</label><br>
									<label for="dateRangeAll"><input type="radio" id="dateRangeAll" name="dateRange"
											value="dtAll" OnClick="onSelectDateRange(this);">All Messages</label><br>
									<label for="dateRangeCustom"><input type="radio" id="dateRangeCustom" name="dateRange"
											value="dtCustom">Custom Range</label><br>
										<div id="searchDateRangeCalendar" style="margin-left: 2em;">
										<input name="startDate" id="startDate" type="hidden" value="START">
										<input name="endDate" id="endDate" type="hidden" value="END">
										</div>
										<script>
											var now = new Date();
											var currTime = now.getTime();
											var dayMillis = (1000 * 24 * 60 * 60);
											var yesterday = new Date(currTime - dayMillis);
											var weekago = new Date(currTime - (7 * dayMillis));
											var monthago = new Date();
											monthago.setMonth(now.getMonth() - 1);
											var yearago = new Date();
											yearago.setYear(now.getFullYear() - 1);
											var allstart = new Date(1999, 0, 1);

											var mDCal = new dhtmlxDblCalendarObject("searchDateRangeCalendar", true,
													{isMonthEditable: true, isYearEditable: true});
											var leftCalendar = mDCal.leftCalendar
											var rightCalendar = mDCal.rightCalendar
											var thisYear = now.getYear() + 1900;
											mDCal.setYearsRange(1999, thisYear + 1);
											mDCal.setDateFormat("%Y.%m.%d");
											mDCal.setDate(monthago, now);
											// Note: right now, only the first two events are available.
											var evts = ["onClick", "onChangeMonth", "onMonthSelect", "onYearSelect"];
											for (var i=0; i<evts.length; i++) {
												var evt = evts[i];
												leftCalendar.attachEvent(evt, onSelectDate);
												rightCalendar.attachEvent(evt, onSelectDate);
											}
											mDCal.draw();

											var form = document.searchForm;
											var startCal = form.elements["startDate"];
											var endCal = form.elements["endDate"];
											var customRangeOption = form.elements["dateRangeCustom"];
										</script>

									</td>
								</tr>
							</table>	
							<!--End the Date Range table-->
						</td>
						
						<!--Spacer cell; might need to adjust its width-->
						<td width="12">&nbsp;</td>
						
						<td class="bordercell">
							<!--Begin the Order By table-->
							<table>		
								<tr>
									
									<td>
										<h4>Order By</h4>
										<label for="orderByRecent"><input type="radio" id="orderByRecent" name="orderBy" value="dtDesc" checked>Most Recent First</label><br>
										<label for="orderByOldest"><input type="radio" id="orderByOldest" name="orderBy" value="dtAsc">Oldest First</label><br>
										<label for="orderByAuthor"><input type="radio" id="orderByAuthor" name="orderBy" value="author">Author's Name</label><br>
										<label for="orderBySubject"><input type="radio" id="orderBySubject" name="orderBy" value="subject">Subject</label><br>
									</td>
								</tr>
							</table>
							<!--End the Order By table-->
							
							<br>&nbsp; <br>
							<!--Begin the Batch Size table-->
							<table>		
								<tr>
									
									<td style="text-align:center;">
										<span style="text-size:110%; font-weight:bold;"><label for="batchSize">Results per Page</label></span>
									</td>
								<tr>
									<td style="text-align:center;">
										<select id="batchSize" name="batchSize" size="1">
										% for batchSize in (250, 200, 150, 100, 50):
											<option value=${batchSize}>${batchSize}</option>
										% endfor
										</select>
									</td>
								</tr>
							</table>
							<!--End the Batch Size table-->
							
						</td>
					</tr>
					</table>
					<!--End the single-row table that will hold the DateRange and Order By tables-->
				</td>
			
			</tr>
			
			<tr>
				<td colspan="2" align="center" valign="middle"><input name="btnSubmit" type="submit" value="   Search!   " alt="submit"></td>
			</tr>
		</table>
		
	</td>
	</tr>
	</table>
	
	</form>
	
	% if False:
		<div>
		<!-- SiteSearch Google -->
		<FORM method=GET action="http://www.google.com/search">
		<TABLE bgcolor="#FFFFFF"><tr><td>
		<A HREF="http://www.google.com/">
		<IMG SRC="http://www.google.com/logos/Logo_40wht.gif" 
		border="0" ALT="Google"></A>
		</td>
		<td>
		<INPUT TYPE=text name=q size=31 maxlength=255 value="">
		<INPUT type=submit name=btnG VALUE="Google Search">
		<font size=-1>
		<input type=hidden name=domains value="leafe.com"><br><input type=radio name=sitesearch value=""> WWW <input type=radio name=sitesearch value="leafe.com" checked> leafe.com <br>
		</font>
		</td></tr></TABLE>
		</FORM>
		<!-- SiteSearch Google -->
		</div>
	% endif
	
	</div>
	% endif
	</div>
% endif
</div>

</%def>

<%def name="extraCSS()">
	.label{
		text-align: right;
		font-family: Tahoma, Verdana, Geneva, Arial, sans-serif;
		font-size: small;
	}
	.field	 {
		text-align: left;
		font-size: small;
		font-family: serif;
	}
	.boxtable	{
		font-size: small;
		border-width: 1px;
		border-style: dotted;
		background-color: #DDDDDD;
	}
	.dtRadio {
		text-align: left;
		font-size: small;
		font-family: Geneva, Arial, Tahoma, Verdana, sans-serif;
	}
	.bordercell {
		border-width: 1px;
		border-style: inset;
		font-family: Tahoma, Verdana, Geneva, Arial, sans-serif;
		font-size: small;
	}
	h4	 {
		text-align: center;
		font-family: Tahoma, Verdana, Geneva, Arial, sans-serif;
	}
</%def>

<%def name="extraJS()">
function setDateFilter() {
	form = document.searchForm
	if (hasValidDate(form)) {
		form.dateRange[6].checked = true ;
	} else {
		if (form.dateRange[6].checked == true) {
			form.dateRange[0].checked = true ;
		}
	}
	return true ;
}

function hasValidDate(form) {
	retVal = false ;
	start = true ;
	end = true ;
	if (form.startMonth.value + form.startDay.value + form.startYear.value != "000")	{
		start = false ;
		if (form.startMonth.value != "0") {
			if (form.startDay.value != "0") {
				if (form.startYear.value != "0")	{
					start = true ;
				}
			}
		}
	}

	if (form.endMonth.value + form.endDay.value + form.endYear.value != "000")	{
		end = false ;
		if (form.endMonth.value != "0") {
			if (form.endDay.value != "0") {
				if (form.endYear.value != "0")	{
					end = true ;
				}
			}
		}
	}
	retVal = (start && end)
	return retVal ;
}

function onSelectDate(dt) {
	var which = null;
	if (this === mDCal.leftCalendar) {
		which = startCal;
	} else {
		which = endCal;
	}
	which.value = this.getFormatedDate("%Y.%m.%d", dt);
	customRangeOption.checked = true ;
}

function onSelectDateRange(obj) {
	var rangeStart;
	var rangeEnd = now;
	if (obj.id === "dateRangeYear") {
		rangeStart = yearago;
	} else if (obj.id === "dateRangeAll") {
		rangeStart = allstart;
	} else if (obj.id === "dateRangeYesterday") {
		rangeStart = yesterday;
		rangeEnd = yesterday;
	} else if (obj.id === "dateRangeWeek") {
		rangeStart = weekago;
	} else if (obj.id === "dateRangeMonth") {
		rangeStart = monthago;
	} else if (obj.id === "dateRangeToday") {
		rangeStart = now;
	}
	startCal.value = leftCalendar.getFormatedDate("%Y.%m.%d", rangeStart);
	endCal.value = rightCalendar.getFormatedDate("%Y.%m.%d", now);
	mDCal.setDate(rangeStart, rangeEnd);
}


</%def>
