<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="title()">Bitcoin CZ Status</%def>

<%def name="body()">
  <div>
  <table border="1" cellpadding="3">
    <tr><td>Hash Rate:</td><td>${c.hashrate}</td></tr>
    <tr><td>Unconfirmed Reward:</td><td>${"%12.8f" % c.unconfirmed_reward}</td></tr>
    <tr><td>Estimated Reward:</td><td>${"%12.8f" % c.estimated_reward}</td></tr>
    <tr><td>Confirmed Reward:</td><td>${"%12.8f" % c.confirmed_reward}</td></tr>
    <tr><td><a href="${c.bcrate_link}">Current BTC/USD</a></td><td>${"%9.4f" % c.exchange_rate}</td></tr>
    <tr><td>Confirmed Value:</td><td>${"$%9.4f" % c.value}</td></tr>
<!--    <tr><td>Confirmed NMC Reward:</td><td>${"%12.8f" % c.confirmed_nmc_reward}</td></tr>
    <tr><td>Unconfirmed NMC Reward:</td><td>${"%12.8f" % c.unconfirmed_nmc_reward}</td></tr> -->
  </table>
  </div>

  <p>&nbsp;</p>
  <div>
    <table border="1" cellpadding="4">
        <tr>
            <th class="lcell">Worker</th>
            <th class="lcell">Shares</th>
            <th class="lcell">Hashrate</th>
            <th class="lcell">Score</th>
        </tr>
<%
def ordworkers():
#    acct_prefix = "edleafe."
    acct_prefix = "asciipaper."
    keys = c.workers.keys()
    ret = []
    p8s = [key for key in keys if key.lstrip(acct_prefix).startswith("p8")]
    wks = [key for key in keys if key.lstrip(acct_prefix).startswith("worker")]
    p8s.sort(key=lambda x: int(x.lstrip(acct_prefix).split("-")[-1]))
    wks.sort()
    ret.extend(wks)
    ret.extend(p8s)
    return ret
%>
    % for worker in ordworkers():
        <%wdata = c.workers.get(worker)%>
        <tr class="archiveSearchRow">
            <td class="lcell">${worker.split(".")[-1]}</td>
            <td class="lcell">${wdata["shares"]}</td>
            <td class="lcell">${wdata["hashrate"]}</td>
            <td class="lcell">${wdata["score"]}</td>
        </tr>
    % endfor
    </table>

</div>

</%def>
