<%page cached="False"/>
<%def name="title()">Hi Dan!</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />

<%def name="body()">

<p style="margin-left:250px; border-top=100px;">Go to I-35 access road to the Castle. Instead of turning in, go to Walzem and turn right.</p>
<p style="margin-left:250px; border-top=100px;">MAP: <a href="http://goo.gl/maps/eLRvf">Access road, before turning right onto Walzem.</a></p>
<p style="margin-left:250px; border-top=100px;">Stay on the right. Pass IHOP; when you get to the Rackspace sign, turn right.</p>
<p style="margin-left:250px; border-top=100px;">MAP: <a href="http://goo.gl/maps/f25AN">Walzem road, before turning into Rackspace.</a></p>
<p style="margin-left:250px; border-top=100px;">Go to end of short road. Turn right. Pass Big Easy Cafe; Discount Tire is just past that.<br /> PS: there is one of those tall signs for Discount Tire, in case you get lost.</p>

</%def>
