<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Downloads</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="body()">

<%def name="costtype(rec)">
<%
	license = {"f": "Freeware ", "s": "Shareware ", "c": "Commercial ", "d": "Demoware ", "g": "GPL Software ", "l": "LGPL Software ", "m": "Creative Commons License ", "o": "Other Open Source License "}.get(rec.ccosttype, "")
	if rec.ncost:
		cost = " - $%s" % rec.ncost
	else:	
		cost = ""
	return "".join([license, cost, rec.csize.upper()])
%>
</%def>
<%
	import datetime as dt
%>

%if not c.section:
	<div style="text-align:center">
		<h2>Download Sections</h2>
		<p><a href="/dls/vfp">Visual FoxPro</a></p>
		<p><a href="/dls/dabo">Dabo Framework</a></p>
		<p><a href="/dls/python">Python</a></p>
		<p><a href="/dls/osx">Mac OS X</a></p>
		<p><a href="/dls/cb">VFP Codebook </a></p>
		<p><a href="/dls/fox">FoxPro 2.x</a></p>
		<p><a href="/dls/other">Other</a></p>
	</div>
	
	<div style="margin-top: 3em; padding: 1em; text-align: center; border: 1px solid;">Or you can share a file by submitting it on the <a href="/dls/upload">Upload Page</a></div>
%endif

%if c.section:

	<h2>Downloads: ${c.sectionName}</h2>
	<h4><i>File Count:</i> ${len(c.downloads)}</h4>

	<table width="95%" border="0" cellpadding="0" cellspacing="12" style="margin-bottom:10px">
		% for dl in c.downloads:
		<tr valign="top">
			<td class="dlCell" id="link" width="25%"><a class="dlCell" id="link" href="${dl.cfile}">${dl.ctitle}</a></td>
			<td class="dlCell" id="desc">
			
			% if dl.dlastupd > (dt.date.today() - dt.timedelta(21)):
			<img src="/newyellow.gif"> - 
			% endif
			${dl.mdesc}
			
			% if dl.cauthor:
				<b>Author: ${dl.cauthor}</b>
			% endif
			<%
				cost = costtype(dl)
				lastup = dl.dlastupd.strftime("%Y.%m.%d")
			%>
			&nbsp;<span class="dlFileInfo">${cost}</span> <span class="dlFileIUpdt">Last updated: <b>${lastup}</b></span></td>
		</tr>
	% endfor		
	</table>
%endif

</%def>
