<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="extraHead()" />
<%def name="extraCSS()">
	#thdListTable
	{
		#font-size: 80%;
		width: 80%;
		border-width: 1px;
		border-style: dotted;
		font-family: Verdana,Tahoma,Helvetica,Arial,sans-serif;
	}
	.listFrom
	{
		font-size: 70%;
	}
	#messagebox
	{
		margin: 3px 3px 15px 3px;
		font-size: small;
	}
	#thdReturn
	{
		font-size: 70%;
		text-align: center;
	}
	#msgHead
	{
		background: #ffffee;
		margin: 15px 5px 5px 5px;
		padding: 4px;
	}
</%def>
<%def name="extraJS()"/>
<%def name="title()">Full Thread Listing</%def>

<%def name="body()">

% if c.from_developer:
<h4>Query Statement: ${c.query_statement}</h4>
% endif

  <div>
% if not c.results:
	<div>
	  <h3 style="color: darkred">No results were found. Please <a href="/archives/search/${c.listname}">try again<a>.</h3>
	</div>
% endif

% if c.results:
	<div>
	<table id="thdListTable" width="95%">
	% for num, msg in enumerate(c.results):
		<tr>
			<td class="msgHead">
					<div>
					Author: <b>${h.maskEmail(msg.cfrom)}</b><br>
					Subject: <b>${msg.csubject}</b>&nbsp;-&nbsp;<a href="/archives/msg/${msg.imsg}" target="_new">Link</a><br>
					Posted: <b>${msg.tposted}</b><br>
					</div>	
			</td>
		</tr>
		<tr align="center" valign="top">
			<td>
			<table border="4" cellspacing="0" cellpadding="6" class="archiveMsgContent" width="95%">
				<tr align="left" valign="top">
				<%
					import email
					txt = msg.mtext
					match = txt.find("______\nPost Messages")
					if match > -1:
						txt = txt[:match]
						# Go to the previous linefeed
						lastLF = txt.rfind("\n")
						txt = txt[:lastLF]					
				%>
				<td><pre>${h.wrapper(txt)}</pre>
				</tr>
			</table>
			</td>
		</tr>
%if num != len(c.results) -1:
		<tr style="height:30px;">
			<td><hr /></td>
		</tr>
%endif
	% endfor
	</table>
	</div>
	<div style="margin-top: 60px;">
	<a href="/archives/search/${c.listname}">New Query</a>
	</div>

% endif
</div>

</%def>
