<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="title()">Search Results</%def>

<%def name="body()">
  <div>
	% if c.wrong:
		<p class="errorMsg">Did you sleep through math class?</p>
	% else:
		<p>Please prove that you are not a bot.</p>
	% endif
	<p>${c.question}</p>
	<form method="POST" action="/reportAbuse/${c.url}">
		<input name="answer" id="answer" type="text">
		<input name="expected" id="expected" type="hidden" value=${c.expected}>
		<input name="submit" id="submit" type="submit">
	</form>
</div>

</%def>
