<%inherit file="/main_template.html"/>\
<%page cached="False"/>
<%def name="title()">Welcome to leafe.com!</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />

<%def name="body()">

<div style="padding:30px;">
	<p>This site has been moved from the server in my basement to my shiny new <b>Rackspace Cloud Server</b>. I'm using this move as a chance to re-write several parts of the site that are still working, but are difficult to update, due to their reliance on what was state-of-the-art in 2002.</p>
	
	<p>As a result, there may be some parts that have not been converted yet, so please bear with me. If you notice something that doesn't work as it should, please let me know: either send an email to ed at leafe dot com, or DM me on Twitter: @EdLeafe.</p>
	
	<p>Thanks for your patience!</p>
</div>

</%def>
