<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Email Lists</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="body()">
	<div style="margin: 10px;">
	
	<h2>Email Lists</h2>
	<p>A number of free public lists are hosted on this site. You can manage your subscriptions to these lists from the following pages.</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/profox"><b>ProFox</b></a> - the leading email support list for Visual FoxPro.</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/profoxtech"><b>ProFoxTech</b></a> - A subset of the ProFox list, with all Off-Topic messages filtered out.</p>
	<p align="center" style="font-style:italic">Be sure to see the <a href="/profox_faq">FAQ</a> for the ProFox lists</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/prolinux"><b>ProLinux</b></a> - a list designed to discuss issues for those who are migrating to Linux.</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/propython"><b>ProPython</b></a> - a new list designed to provide help for beginner and intermediate Python developers.</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/dabo-dev"><b>Dabo-Dev</b></a> - The primary list for developers involved with <a href="http://dabodev.com">The Dabo Framework</a>.</p>
	<p><a href="http://mail.leafe.com/mailman/listinfo/dabo-users"><b>Dabo-Users</b></a> - A general discussion list for users of <a href="http://dabodev.com">The Dabo Framework</a>.</p>
	<p style="margin-top:10px;">Searchable archives of <a href="/archives/search/profox">ProFox</a>, <a href="/archives/search/prolinux">ProLinux</a>, <a href="/archives/search/propython">ProPython</a>, <a href="/archives/search/dabo-dev">Dabo-Dev</a> and <a href="/archives/search/dabo-users">Dabo-Users</a> are available. I also host the <a href="/archives/search/valentina">archives for the Valentina mailing list</a>, although I don't host the actual list. Info on that list is available at <a href="http://www.macserve.net/support/lists.php">http://www.macserve.net/support/lists.php</a></p>

<div id="invisible">
I've added a <a id="invisble" class="invisible" href="/archives/">spider-able link </a> to the archives
</div>


	</div>

</%def>
