<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">${c.message.csubject}</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />

<%def name="body()">

% if c.from_developer:
<h5>session: ${c.session}</h5>
<h5>message: ${c.message}</h5>
% endif

<table border="0" align="center" style="border: 1px solid; padding-top:30px;">
 <tr>
  <td>
                <table border="0" cellspacing="4" cellpadding="0">
                    <tr align="left" valign="top">
                        <td class="searchResultLabel" nowrap>Subject:</td>
                        <td class="searchResultVal">${c.message.csubject}</td>
                    </tr>
                    <tr align="left" valign="top">
                        <td class="searchResultLabel">Author:</td>
                        <td class="searchResultVal">${c.maskedFrom}</td>
                    </tr>
                    <tr align="left" valign="top">
                        <td class="searchResultLabel">Posted:</td>
                        <td class="searchResultVal">${c.message.tposted.strftime("%Y-%m-%d at %H:%M:%S")}</td>
                    </tr>
<!--
                    <tr align="left" valign="top">
                        <td class="searchResultLabel">Length:</td>
                        <td class="searchResultVal">${c.messagelength}</td>
                    </tr>
-->
                </table>
</td>
<td width="30">&nbsp;</td>

<td>
        <table border="0" cellspacing="4" cellpadding="0" class="searchResultNav">
    % if c.priorLink:
            <tr valign="middle">
                <td align="right" style="font-size: 85%;" nowrap><a href="${c.priorLink}">Prior Message</a></td>
            </tr>
    % endif
    % if c.nextLink:
            <tr valign="middle">
                <td align="right" style="font-size: 85%;" nowrap><a href="${c.nextLink}">Next Message</a></td>
            </tr>
    % endif
            <tr>
                <td align="right" style="font-size: 85%;" nowrap><a href="/archives/full_thread/${c.message.imsg}">View Entire Thread</a></td>
            </tr>
            <tr>
                <td align="right" style="font-size: 85%;" nowrap><a href="/archives/search/${c.listname}">New Search</a></td>
            </tr>
        </table>
</td>
</tr>
</table>

<br>
<table border="0" width="95%" cellspacing="5" cellpadding="3" align="center">
    <tr>
        <td></td>

    </tr>

<%def name="wrapper()">
    <%
        from webhelpers.html import literal
        from textwrap import TextWrapper
        tw = TextWrapper(width=100)
        out = []
        for ln in c.displayMessage.strip().splitlines():
            if not ln:
                out.append("&nbsp;")
            else:
                out.extend(tw.wrap(ln))
        return literal("\n".join(out))
    %>
</%def>

    <tr align="center" valign="top">
        <td>
        <table border="4" cellspacing="0" cellpadding="6" class="archiveMsgContent" width="95%">
            <tr align="left" valign="top">
            <td>
<pre>
${wrapper()}
</pre>
            <span class="msgCopyright">&copy;${c.copyYear} ${c.copyName}</span>
            </td>
            </tr>
        </table>
        </td>
    </tr>

% if c.requestIP in ("66.67.55.24", "64.39.5.118"):
    <tr>
        <td>
            <form action="/archives/decode_message/${c.message.imsg}" method="get">
                <input name="submit_decode" type="submit" value="Decode!">
            </form>
        </td>
    </tr>
% endif


</table>

</%def>



