<%page cached="False"/>
<%def name="title()">Hi Linda!</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />

<%def name="body()">

<h2> In no particular order...</h2>
<p><a href="https://www.vacasarentals.com/unit.php?UnitID=826&adults=3&arrival=07%2F28%2F2014&departure=07%2F31%2F2014" target="_new">3 Lofty Lane (Sunriver)</a> Total: $703</p>
<p><a href="https://www.vacasarentals.com/unit.php?UnitID=542&adults=3&arrival=07%2F28%2F2014&departure=07%2F31%2F2014" target="_new">Eagle Crest Resort's Desirable Sage Country Court</a> Total: $663</p>
<p><a href="https://www.vacasarentals.com/unit.php?UnitID=649&adults=3&arrival=07%2F28%2F2014&departure=07%2F31%2F2014" target="_new">The Bird's Nest with Hot Tub</a> Total: $750</p>
<p><a href="http://www.bluebirddayvacationrentals.com/vacation-rental-home.asp?PageDataID=76610&ad=7/28/2014&dd=7/31/2014" target="_new">Kingfisher Bungalow</a> Total: $832</p>
<p><a href="http://www.luckyvacationrental.com/vacation-rental-home.asp?PageDataID=88909&ad=7/28/2014&dd=7/31/2014" target="_new">Galveston Getaway in Northwest Bend</a> Total: $616</p>
<p><a href="http://bookings.benddutchrentals.com/Unit/Details/43645" target="_new">The Red Fox</a> Total: $764</p>


</%def>
