<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">ProFox Frequently Asked Questions</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="body()">
	
<h2> ProFox Email List FAQ</h2>
<!-- 
<p><span style="font-size:80%;"> You can also <a href="http://leafe.com/profox/faqtext/manage_main" target="blank">edit this FAQ</a>.</span></p>
 -->

<div class="qadiv0"><p class="faq-q"><span style="font-size:120%;">Q:</span> What is an email list?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> An email list is a subscription-based way of communicating among members of a community via email. Instead of sending messages to individual members, though, you send the message to the list. The list software then distributes that message to all subscribers. Your message may not arrive in your inbox as soon as you have sent it: you don't need to keep sending the message. If by the next day other messages have been received but yours hasn't, resend the message!<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv1"><p class="faq-q"><span style="font-size:120%;">Q:</span> Where do I sign up for this list?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> Go to the list info page for <a href="http://leafe.com/mailman/listinfo/profox">ProFox</a> or <a href="http://leafe.com/mailman/listinfo/profoxtech">ProFoxTech</a>. You can sign up from there.<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv0"><p class="faq-q"><span style="font-size:120%;">Q:</span> What is all this stuff? I thought this was a FoxPro list?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> ProFox was spawned when the host of another list decided that he could suspend people from the list for transgressing the list rules: only by taking a test could the member be reinstated. Ed Leafe started this list to allow a freer exchange of opinions... and opinions are freely exchanged, especially in the Off Topic threads. If the off-topic stuff really bothers you, or even worse, bothers your employer, you should subscribe instead to the <b>ProFoxTech</b> list.<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv1"><p class="faq-q"><span style="font-size:120%;">Q:</span> ProFoxTech? What, yet another list?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> No, not really. It is a sublist of the messages posted to ProFox. The list software looks for messages with [OT] in the subject, and forwards all those without that label to ProFoxTech. You never post messages to ProFoxTech; you post them to ProFox. Those with [OT] only go to ProFox subscribers; all the rest go to subscribers of both. If you think ProFoxTech is better for you, go to the list info page for <a href="http://leafe.com/mailman/listinfo/profoxtech">ProFoxTech</a> to sign up.<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv0"><p class="faq-q"><span style="font-size:120%;">Q:</span> What are the restrictions on content that can be posted?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> Since this is a FoxPro community, topics that are related to software development using FoxPro are preferred. However, since we are a diverse community and have interests outside of FoxPro, just about any topic is OK. <br>
</p>
<p class="faq-a">As a courtesy to others, all non-technical messages should be labeled with:<br>
&nbsp;&nbsp;&nbsp;<b>[OT]</b> (for "Off Topic") <br>
in the Subject, so that the list software can filter them out of the tech-only sublist, ProFoxTech. Similarly, technical posts that are not strictly Fox-related should be labeled:<br>
&nbsp;&nbsp;&nbsp;<b>[NF]</b> (for "Not Fox")<br>
Messages concerning list adminstration, mostly from our beloved Listmom:<br>
&nbsp;&nbsp;&nbsp;<b>[ADMIN]</b><br>
</p>
<p class="faq-a">Please note that the square brackets are <b>important</b> for the software that filters these messages for ProFoxTech.<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv1"><p class="faq-q"><span style="font-size:120%;">Q:</span> I just got a message that a message I posted is being held because the list thinks it is spam. I'm not a spammer!</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> The lists use a powerful filtering tool called <b>SpamBayes</b> to help trap spam being sent to the list. It uses a technique called 'Bayesian filtering' to help determine what is spam and what isn't. It's very good, but not perfect. <br>
</p>
<p class="faq-a">Since spam is such a problem, the filtering level is set to be very strict. While this means fewer spam messages make it through, it also means that some legitimate messages will be flagged as potential spam. The listmom gets a notice for each held message, and will release all non-spam to the list as soon as possible. Please don't be offended - you didn't write anything bad. There are no magic words that trigger this, nor any magic words that can bypass the filter.<br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv0"><p class="faq-q"><span style="font-size:120%;">Q:</span> Some idiot is saying the stupidest things! What should I do?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> If that person is just mistaken, feel free to post your take on things. Either they'll engage you in an intelligent discussion of the issue, or they'll start ranting against you.<br>
</p>
<p class="faq-a">It should go without saying that <b>respect</b> should be a part of every post. Unfortunately, not everyone agrees with this, so you may occasionally be flamed by someone with more conviction than brains.<br>
</p>
<p class="faq-a">When this happens, please try to ignore them. There is no need to continuously respond to these idiots. Everyone, except for their fellow idiots, recognize these losers and already disregard their posts.<br>
</p>
<p>&nbsp;</p>
</div>
<!-- 
<div class="qadiv1"><p class="faq-q"><span style="font-size:120%;">Q:</span> Who is/are Daryl?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> Pray that you never find out.  But if you are truly brave, and want to experience the full Daryl & Daryl experience, as Ed did in New Orleans in 2000, you can follow this link: <a href="http://www.velocityquest.com/root/images/darylanddaryl.jpg"> Be forwarned, the Daryl Brothers are very baaad.</a><br>
</p>
<p>&nbsp;</p>
</div>
<div class="qadiv0"><p class="faq-q"><span style="font-size:120%;">Q:</span> What's all this about dresses?</p>
<p class="faq-a"><span style="font-size:120%; font-weight:bold; color:darkgreen;">A:</span> You'll have to ask Ed yourself, ideally on the list, or visit this link: <a href="http://www.velocityquest.com/root/images/edinhisdress.jpg">Ed in his green dress.</a><br>
</p>
</div>
 -->


</%def>
