<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Consulting</%def>
<%def name="extraCSS()"/>
<%def name="extraJS()"/>
<%def name="extraHead()" />
<%def name="body()">
	
	<a name="pageTop"></a>
	<hr size="2" width="40%" align="left">
	<h2>Contents</h2>
	
	<table border="0" cellspacing="0" cellpadding="2">
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><a href="#contactinfo">Contact Information</a></td>
	</tr>
	<tr class="resumeRow">
		<td></td>
		<td><a href="#skills">Skills</a></td>
	</tr>
	<tr class="resumeRow">
		<td></td>
		<td><a href="#Experience">Experience</a></td>
	</tr>
	<tr class="resumeRow">
		<td></td>
		<td><a href="#education">Education</a></td>
	</tr>
	</table>
	
	&nbsp;<br />
	<hr size="2" width="60%" align="left">
	<a name="contactinfo"></a><h2>Contact Information</h2>
	
	<table border="0" cellspacing="0" cellpadding="0">
	<tr class="resumeRow">
		<td class="resumeLabel"><b>Address:</b></td>
		<td>&nbsp;</td>
		<td>839 W Harlan Ave.<br />San Antonio, TX 78211<br />USA</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td class="resumeLabel"><b>Email:</b></td>
		<td></td>
		<td>ed NOSPAM at leafe.com <i>(Just remove the NOSPAM)</i></td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td class="resumeLabel"><b>Web:</b></td>
		<td></td>
		<td><a href="http://blog.leafe.com" target="_blank">http://blog.leafe.com</a></td>
	</tr>
	<tr class="resumeRow">
		<td ></td>
		<td></td>
		<td><a href="http://dabodev.com" target="_blank">http://dabodev.com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td class="resumeLabel"><b>Voice:</b></td>
		<td></td>
		<td>585.734.3881</td>
	</tr>
	</table>
	<br />
	&nbsp;<br />
	&nbsp;&nbsp;&nbsp;<div class="resumeTopLink"><a href="#pageTop">Back to Top</a></div><br />
	&nbsp;<br />
	<hr size="2" width="60%" align="left">
	
	<a name="skills"></a>
	<h2>Skills</h2>
	
	<table border="0" cellspacing="2" cellpadding="1" width="80%">
	<tr class="resumeRow">
		<td><br /></td>
		<td>My primary development language is <b>Python</b>. I chose Python because of its wonderful balance of power and simplicity. It does just about everything I need, from automating tasks on my server using small scripts, to creating powerful database applications.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><br /></td>
		<td>I am also a co-developer of a major Open Source project written in <b>Python</b>. We are creating a database application development tool named '<b>Dabo</b>'. Dabo is similar to Visual FoxPro, Visual Basic, Delphi, etc., in enabling a developer to quickly create applications for searching, retrieving, and updating data. But where Dabo shines is the fact that it is platform-independent; Dabo code runs unchanged on Windows, Linux and OS X. Dabo is also database-agnostic; it currently supports 5 major database products, and more can be added as the need arises. More information about Dabo, including its current status, is available on the Dabo website: <a href="http://dabodev.com">http://dabodev.com</a>.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><br /></td>
		<td>I have been fortunate enough to be asked to speak at the last three <b><a href="http://us.pycon.org" id="pycon" name="pycon" target="_blank">Pycon</a></b> conferences in the US. Besides the wonderful feedback I received from making these presentations, I've also gotten a chance to meet and talk at length with some of the best minds in the Python world.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>Over the past decade and a half, though, most of my development work has been written in <a href="http://msdn.microsoft.com/vfoxpro/" target="_blank"><b>Microsoft Visual FoxPro</b></a> (VFP). It is a fully <b>object-oriented</b> database-centric language, and is fully capable of creating all three tiers of a three-tier application: it has a complete GUI environment for creating the presentation layer; it excels at creating business objects for validating data in the business logic layer; and has its own ODBC-accessible database storage. It is also a strong development front end tool for working with data in SQL databases such as <b>Microsoft SQL Server</b> and the open source <b>MySQL</b> and <b>PostgreSQL</b> database servers. Of course, being a Microsoft product, it is limited to Windows desktops only.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><br /></td>
		<td>But I have primarily developed in <b>Python</b> for the past 5 years. I started with Python first as the result of being involved in a project converting a Windows application over to run <b>natively on Linux</b>, then after that doing lots of Zope 2.x development, and now because of my work with <b>Dabo</b>. Python is an amazingly fast and flexible language.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><br /></td>
		<td>While I've used various programming products over the last decade and a half, the one consistent thing is that <b>I love working with data</b>. I specialize in not only designing a database to effectively handle your needs, but also in working with existing data structures in order to help you get the most benefit for your business.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><br /></td>
		<td>For web applications, I have been working a lot with <a href="http://www.zope.org"><b>Zope</b></a>, an open-source web application server. This entire website, for example, is written and served in Zope. It allows to easily create dynamic pages that can integrate data from almost any source (I'm using <b>MySQL</b> on this site) into the pages. </td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<!-- <tr class="resumeRow"> -->
	<!-- 	<td><br /></td> -->
	<!-- 	<td>I have also worked with Apple's <b>WebObjects</b> tool for website development for about 2 years now. As a part of this training, I have learned Java, and have become familiar with the various frameworks which comprise WebObjects. I successfully completed the <b>Programming WebObjects I</b> course in September 2000. I plan on working a lot more with this product, as I see it as an incredibly powerful and well-designed tool, and one which meshes well with my object-oriented experience.</td> -->
	<!-- </tr> -->
	<!-- <tr class="resumeRow"> -->
	<!-- 	<td><br /></td> -->
	<!-- </tr> -->
	<tr class="resumeRow">
		<td></td>
		<td>I have run my own <a href="http://leafe.com" target="_blank">website</a> since 1996. Besides the static web content, I have a many dynamic sections written using Zope's page templating structures and the Python scripting language. The data for the site is maintained in a series of MySQL databases. You can check out the <a href="http://leafe.com/archives/search/profox" target="_blank">ProFox Archive Search</a> page for an example.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td>As an independent consultant, I have created applications for a variety of clients, all with different business needs. The apps thus span the range from automobile resale logistics to pizza delivery tracking. I have listed some of the more recent clients below in the <a href="#Experience">Experience</a> section. Due to this wide variety of experience, I was a Contributing Editor to <a href="http://advisor.com/MMF" target="_blank">FoxPro Advisor Magazine</a> from 2000 - 2003, where I co-edited the monthly "Tips" column.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>I am one of the authors of the Visual Codebook development framework for VFP, and am currently the class librarian for the 6.x version of framework. Recently Codebook was released as an Open Source project, and is now hosted on <a href="https://sourceforge.net/projects/codebook/">SourceForge</a>. I also run the <a href="http://codebook.leafe.com" target="_blank">Codebook Support Forum</a>, where developers who use the Codebook framework can get answers to development questions in a peer support forum.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>I am a strong believer in community support for developers. To that end, I have hosted the <b>ProFox</b> email list on my site since 1999, and have just started up the ProLinux and ProPython email lists to help out developers as they start working with the Linux OS and Python, respectively. Currently, about 500 VFP developers subscribe to ProFox to get quick answers to their questions.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	<tr class="resumeRow">
		<td></td>
		<td>As a result of my support work, I have been awarded the <a href="http://www.microsoft.com/support/mvp" target="_blank">Most Valuable Professional</a> award from Microsoft for 10 years in a row. This is awarded to those in the community who consistently provide high quality peer-level support.<br />
	<div style="text-align: center;"><img src="http://www.mvps.org/tools/files/MVPLogo1w.gif" alt="Most Valuable Professional"></div></td>
	</tr>
	</table>
	<br />
	&nbsp;<br />
	&nbsp;&nbsp;&nbsp;<div class="resumeTopLink"><a href="#pageTop">Back to Top</a></div><br />
	&nbsp;<br />
	<hr size="2" width="60%" align="left">
	
	<a name="Experience"></a>
	<h2>Experience</h2>
	
	<table border="0" cellspacing="2" cellpadding="1" width="70%">
	
	<div tal:condition="python:0">
			<tr class="resumeRow">
				<td><b>Company:</b></td>
				<td class="resumeCompany"></td>
			</tr>
			<tr class="resumeRow">
				<td><b>Contact:</b></td>
				<td></td>
			</tr>
			<tr class="resumeRow">
				<td><b>Address:</b></td>
				<td></td>
			</tr>
			<tr class="resumeRow">
				<td><b>Phone:</b></td>
				<td></td>
			</tr>
			<tr class="resumeRow">
				<td><b>Email:</b></td>
				<td></td>
			</tr>
			<tr class="resumeRow">
				<td colspan="2"><b>Project Description:</b> </td>
			</tr>
			<tr class="resumeRow">
				<td colspan="2" align="center"><br /><hr><br /></td>
			</tr>
	</div>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">The Dabo Project</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Ed Leafe / Paul McNett</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>585.734.3881</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:info@dabodev.com">info at dabodev dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>February 2005 &mdash; present</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Dabo is a 3-tier, cross-platform application development framework, written in Python atop the wxPython GUI toolkit. This project involves designing and coding an extremely complex series of interactions among the several layers of classes so that the final result is a simple, easy-to-use tool for the developer. Since the project is Open Source, you can download the code to see the level of work that I am capable of for yourself.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Government of Canada - Secretariat on Homelessness</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Henry Dagher</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>819.994.2417</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:henry.dagher@hrsdc-rhdsc.gc.ca">henry.dagher at hrsdc-rhdsc.gc dot ca</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>October &mdash; November 2007</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b>The Secretariat on Homelessness provides software to homeless shelters throughout Canada to help them track their clients, as well as services provided by the shelter. It was working well in small cities, but slowing down unacceptably as large cities began to use it. I worked with their in-house programmer to identify the performance bottlenecks and improve them so that now the performance scales well.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Cernium Corporation</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Nik Gagvani</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>1943 Isaac Newton Square<br>Suite 200<br>Reston, VA 20190</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>703.483.3000</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:ngagvani@cernium.com">ngagvani at cernium dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>May 2007 &mdash; present</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Cernium is a leader in providing electronic security through the use of advanced video analysis. I am working with them to bring some of their newer Python-based tools to market.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Access Capital, Inc.</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Irene Robinson</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>405 Park Avenue<br />16th Floor<br />New York, NY 10022</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>212.644.9300</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:irobinson@accesscapitalinc.com">irobinson at accesscapitalinc dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>March 2002 &mdash; present</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Access Capital funds the growth of companies run by capable entrepreneurs with the talent, the integrity and the motivation to succeed. They provide immediate working capital to small and middle market companies by discounting current accounts receivable. As a result, there is a lot of information regarding these accounts receivable and the payments against them that must be tracked and reported. They have an existing, home-grown system that they've now outgrown. I have re-designed their database to better handle the relationship of all the parties involved so that the business leaders can get a clearer picture of exactly where they stand with each client.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Phoenix Information Management Services, LLC</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Gil Hale</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>43 Marr Drive <br />Pittsford, NY 14534</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>585.359.8086</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:gil@gilhale.com">gil at gilhale dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>December 2002 &mdash; March 2004</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Phoenix creates systems that help automobile dealers store, access and report on their data. I initially migrated the existing system they had from an all-FoxPro design to one that uses Visual FoxPro for the client application, but stores its data in MySQL. This added greater scalability and security without sacrificing any speed. I wrote a series of additions to my framework to make the use of MySQL-based data as easy as using Fox data. I also converted their server from a Windows 2000 system to a Linux system in order to increase stability and reduce licensing costs. This involved re-writing some of the server apps that were in Visual FoxPro into Python, as well as adding Python programs for regular backup to both local tape drive and secure copying to remote servers.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">eMedicine.com</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Jeff Berezin</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>5750 Commons Park Drive<br />East Syracuse, NY 13057</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>315/413-0661</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:jberezin@emedicine.com">jberezin at emedicine dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>September 2000 &mdash; November 2001</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> eMedicine.com is the leading publisher of medical textbooks and information on the web. It grew from a small site with a single developer publishing all of these text from Visual FoxPro tables to HTML pages. When they began to outgrow this initial design, I was brought in as part of a team to update the database design to handle future growth. We developed a structured data design using Microsoft SQL Server as the back end, and Visual FoxPro as the middle tier. All of the data was converted to XML, so that publishing an HTML page or creating a PDF document was simply a matter of applying the desired XSLT instead of a tedious manual project. I also developed the code for the registration and authentication pieces of the website, and also implemented their web-based CME (Continuing Medical Education) program, which is now the world's largest provider of peer reviewed online CME.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Microworks POS, Inc.</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Scott Paratore</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>2112 Empire Blvd.<br />Suite 2A<br />Webster, NY 14580</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>585/787-2058</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:scottp@microworks.com">scottp at microworks dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>January 2000 &mdash; November 2000</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Microworks POS makes Point-Of-Sale systems for the restaurant industry. Their product has been around for many years, and was recently upgraded from DOS to Visual FoxPro 6.0. I helped them through the transition by redefining their data model for greater speed and flexibility, and also designed an improved object model for their application. As a result, their application has enjoyed greater stability, and they've been able to customize it readily for individual clients.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Remarketing Services of America</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
		<td>(a DaimlerChrysler subsidiary)</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Mary D'Arrigo</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>40 John Glenn Drive<br />Suite 100<br />Amherst, NY 14228</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>716/553-5530 (note: company is no longer in business)</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:mpdarrigo@hotmail.com">mpdarrigo at hotmail dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>October 1997 &mdash; May 2000</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Remarketing Services of America (now part of FiServe) was an incredibly fast-growing company which handles automobile end-of-lease processing for banks and other leasing groups. Their internal software has to track hundreds of thousands of cars, their owners, their lease terms, and their locations, throughout a complex process involving  lease endings, cars getting bought or turned in and then re-sold. I was the chief class designer and librarian for this project, which lasted over two years and involved over a dozen developers. When I finished work there, there were over 300 simultaneous users running this networked application, which used Visual FoxPro for all three tiers: presentation, business logic and data storage.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">Flash Creative Management</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Y. Alan Griver</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>433 Hackensack Avenue<br />Hackensack, NJ 07601</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>201/489-2500 x202</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:yalangriver@hotmail.com">yag at microsoft dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>1992 &mdash; 1998 (various projects)</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> Flash Creative Management was a consulting group whose clients include Corning, 3M, AT&T, Pitney Bowes, American Express, Microsoft, ACNielsen and others. I have known them for years, and worked with them on many of these projects. They were bought out by GoAmerica in the fall of 2000, and Y. Alan Griver, one of the principals of Flash, has since moved on to a position at Microsoft.</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">AT&amp;T, Office of the President</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Ross Brooks</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>Basking Ridge, NJ</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>973/376-6372</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><i>- current email unavailable -</i></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>May 1997 &mdash; January 1998</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> AT&amp;T has a system for tracking customer complaints. When these complaints do not get resolved by a first-line representative, they get escalated an are recorded in a system that ensures that they do not get ignored or forgotten. The existing system was slow and could only produce a fixed number of hard-coded reports. I was brought in for two purposes: to design a system to replace the one they had, and at the same time to train the in-house staff in application analysis, design, and coding. After a month of analysis and design training, we began implementing the app, with me acting as project manager and mentor to the staff programmers. Ross Brooks was the executive in charge of the programming team; he has since left AT&amp;T, and I do not have a current email address for him. </td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2" align="center"><br /><hr><br /></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Company:</b></td>
		<td class="resumeCompany">AT&amp;T Capital Corp.</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Contact:</b></td>
		<td>Vern Bradner</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Address:</b></td>
		<td>44 Whippany Rd.<br />Morristown, NJ 07962</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Phone:</b></td>
		<td>201/397-4083</td>
	</tr>
	<tr class="resumeRow">
		<td><b>Email:</b></td>
		<td><a href="mailto:Vern_Bradner@attcapital.com">Vern_Bradner at attcapital dot com</a></td>
	</tr>
	<tr class="resumeRow">
		<td><b>Period:</b></td>
		<td>March 1994 &mdash; November 1995</td>
	</tr>
	<tr class="resumeRow">
		<td colspan="2"><b>Project Description:</b> This project was an overall re-write of the Treasury Department systems at AT&amp;T Capital. Previously, they had had a number of separate systems which did not share data or "talk" to each other. I worked with Vern to redesign the applications so that they shared a common database, and also added many new features along the way.</td>
	</tr>
	<tr class="resumeRow">
		<td><br /></td>
	</tr>
	</table><br />
	&nbsp;<br />
	&nbsp;&nbsp;&nbsp;<div class="resumeTopLink"><a href="#pageTop">Back to Top</a></div>
	
	<hr size="2" width="60%" align="left">
	
	<a name="education"></a>
	<h2>Education</h2>
	
	<table border="0" cellspacing="2" cellpadding="1">
	<tr class="resumeRow">
		<td colspan="2" ><b>September 2000, Programming WebObjects I</b></td>
	</tr>
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>Apple Computer, Toronto, ON</td>
	</tr>
	</table>
	&nbsp;<br />
	<table border="0" cellspacing="2" cellpadding="1">
	<tr class="resumeRow">
		<td colspan="2" ><b>1980, Michigan State University</b></td>
	</tr>
	<tr class="resumeRow">
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>B.S. in Biochemistry, with Computer Science minor</td>
	</tr>
	<tr class="resumeRow">
		<td></td>
		<td>Graduated with High Honors</td>
	</tr>
	</table>
	<br />
	&nbsp;<br />
	&nbsp;&nbsp;&nbsp;<div class="resumeTopLink"><a href="#pageTop">Back to Top</a></div><br />
	&nbsp;<br />

</%def>
