<%inherit file="/main_template.html"/>
<%page cached="False"/>
<%def name="title()">Upload a File</%def>
<%def name="extraCSS()"/>
<%def name="extraHead()" />
<%def name="extraJS()">
form_validate = function(frm) {
	ok = false;
	with (frm) {
		if (newfile.value==="") {
			alert("Please specify a file to upload!");
			newfile.focus();
		} else if (file_title.value === "") {
			alert("Title cannot be empty");
			file_title.focus();
		} else if (file_descrip.value==="") {
			alert("Description cannot be empty");
			file_descrip.focus();
		} else if (file_section.value === "") {
			alert("Please select a file section");
			file_section.focus();
		} else if (file_author.value==="") {
			alert("Author name cannot be empty");
			file_author.focus();
		} else if (file_email.value==="") {
			alert("Email address cannot be empty");
			file_email.focus();
		} else {
			ok = true;
		}
	}
	return ok;
};
</%def>
<%def name="body()">

<%def name="costtype(rec)">
<%
	license = {"f": "Freeware ", "s": "Shareware ", "c": "Commercial ", "d": "Demoware ", "g": "GPL Software ", "l": "LGPL Software ", "m": "Creative Commons License ", "o": "Other Open Source License "}.get(rec.ccosttype, "")
	if rec.ncost:
		cost = " - $%s" % rec.ncost
	else:	
		cost = ""
	return "".join([license, cost, rec.csize.upper()])
%>
</%def>
<%
	import datetime as dt
%>

% if c.filename:
<h2>Upload was successful!</h2>
<div>File: ${c.filename}; Size=${c.filesize}</div>
<div>&nbsp;</div>
<div style="font-style: italic;">Files will be held for review before being made available for download. An email will be sent to:<br /> <span style="font-weight: bold; font-size: 120%; color: blue; padding-left:2em;">${c.email}</span> <br />when the file has been reviewed.</div>


% else:
<h2>Upload a file</h2>
<div>All submitted files will be reviewed by the site administrator before being made available. <i><b>Please do not submit any file containing anyone's copyrighted material except your own.</b></i></div>

<form onsubmit="return form_validate(this)" method="post" id="upload_form" name="upload_form" 
	action="/dls/upload_file" enctype="multipart/form-data">

<table border="0" width="88%" cellspacing="5" style="margin-top: 2em;">
	<tr>
		<td align="right" valign="top">
		Title:
		</td>
		<td>
		<input name="file_title" type="text" size="60" onfocus="foo()">
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		Description:
		</td>
		<td>
		<textarea name="file_descrip" rows="12" cols="60"></textarea>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		Section:
		</td>
		<td>
			<select name="file_section">
				<option value="">-Please Select a File Section-</option>
				<option value="p">Python</option>
				<option value="b">Dabo</option>
				<option value="v">Visual FoxPro</option>
				<option value="c">Codebook</option>
				<option value="f">FoxPro 2.x</option>
				<option value="x">OS X</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		License:
		</td>
		<td>
			<select name="file_license">
				<option value="f">Freeware</option>
				<option value="s">Shareware</option>
				<option value="c">Commercial</option>
				<option value="d">Demoware</option>
				<option value="g">GPL Software</option>
				<option value="l">LGPL Software</option>
				<option value="m">Creative Commons License</option>
				<option value="o">Other Open Source License</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		Cost:
		</td>
		<td>
		<input name="file_cost" type="text" value="0.00" size="24">
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		Author:
		</td>
		<td>
		<input name="file_author" type="text" size="50">
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		Author Email:
		</td>
		<td>
		<input name="file_email" type="text" size="50">
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">
		File to upload:
		</td>
		<td>
		<input name="newfile" type="file" id="newfile">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td></td>
		<td><input name="submit" type="submit"></td>
	</tr>
</table>
</form>

% endif

</%def>
